html {
	display: flex;
	justify-content: center;
}

body {
	color: #666;
	padding: 20px 40px;
	margin: 0;
	max-width: 600px;
  font-size: 1.2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

body > footer {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body h1 .icon {
  height: 2rem;
  filter: contrast(22%);
}

body h1 .icon:hover {
  filter: contrast(100%);
}

body h1 .icon-link {
  height: 2rem;
  line-height: 2rem;
  margin-left: 10px;
}

body > footer .social-media-icon-link {
  height: 1.2rem;
  line-height: 1.2rem;
}

body > footer .social-media-icon {
  height: 1.2rem;
  margin-right: 8px;
}

p {
	text-indent: 1rem;
	text-align: justify;
}

.btn {
	background: white;
	border: 2px solid #666;
	border-radius: 4px;
	padding: 8px;
	font-weight: bold;
}

.btn:hover:enabled:not(:active) {
	background: #eee;
}

button.btn:active {
	background: #666;
	color: white;
}

.btn:disabled {
  border-color: #666;
  color: #666;
}

a {
	color: black;
}

.algorithm-container {
	border: 1px #666;
	border-style: solid none;
	padding: 20px;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.algorithm-container .controls {
	display: flex;
  justify-content: center;
  flex: 1;
}

.algorithm-container .result-list {
	margin: 30px 0;
	list-style-type: none;
	padding: 0;
}

.result-list li {
	width: 150px;
	position: relative;
}

.result-list .value {
	position: absolute;
	left: 150px;
}
